@font-face {
	font-family: "FuturaPTMedium";
	src: url("../fonts/FuturaPTMedium.otf");
	src: url("../fonts/FuturaPTMedium.eot?#iefix")format("embedded-opentype"), url("../fonts/FuturaPTMedium.woff") format("woff"), url("../fonts/FuturaPTMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "FuturaPTLight";
	src: url("../fonts/FuturaPTLight.eot");
	src: url("../fonts/FuturaPTLight.eot?#iefix")format("embedded-opentype"), url("../fonts/FuturaPTLight.woff") format("woff"), url("../fonts/FuturaPTLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* Scrollbar */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background-color: #999;
}

* {
	outline: none;
}

/* Page */

html {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	-webkit-animation: fade-in 1.5s linear;
	/* Safari 4+ */
	-moz-animation: fade-in 1.5s linear;
	/* Fx 5+ */
	-o-animation: fade-in 1.5s linear;
	/* Opera 12+ */
	animation: fade-in 1.5s linear;
	/* IE 10+, Fx 29+ */
}

.body-index {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 60px 20px 60px;
}

.body-page {
	background: #fff;
	max-width: 900px;
	margin: 0 auto;
	padding: 75px;
}

canvas {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -5;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.5);
	border: 16px solid #fff;
	overflow: hidden;
}

.background-gradient {
	content: '';
	position: absolute;
	z-index: -2;
	top: -5%;
	bottom: -5%;
	left: -5%;
	right: -5%;
	opacity: 0.75;
	background: radial-gradient(ellipse at center, #303030 0%, #000000 100%);
}

#background-scene {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -10;
}

.bgimg {
	width: 200%;
	margin-left: -15%;
	margin-top: -15%;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.logo {
	font-family: "FuturaPTMedium";
	font-size: 25px;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 400;
	font-style: normal;
	color: #222;
	margin-bottom: 0;
	width: 100%;
}

#main-header {
	font-family: "FuturaPTMedium";
	font-size: 30px;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-style: normal;
	color: #fff;
	height: 30px;
}

h2 {
	font-family: "FuturaPTMedium";
	font-size: 22px;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 400;
	color: #222;
	text-align: center;
	padding: 0 20px 30px;
}

#submain-header {
	font-family: "FuturaPTMedium";
	font-size: 37px;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-style: normal;
	color: #fff;
	margin-bottom: 20px;
	padding-bottom: 0;
}

/* BURGER */

.toggle-menu {
	display: none;
	font-size: 18px;
	color: rgba(153, 153, 153, 0.7);
	transition: color linear 0.15s;
	border-radius: 20px;
	padding-top: 6px;
	letter-spacing: 3px;
}

.toggle-button:hover {
	cursor: pointer;
}

.active-toggle {
	color: #999 !important;
}

.toggle-item {
	display: block;
	line-height: 2.5em;
	color: rgba(153, 153, 153, 0.7);
}

.toggle-checkbox {
	display: none;
}

.toggle-button {
	margin: 20px 0;
}

.toggle-container {
	margin-top: -142px;
	transition: .5s;
	opacity: 0;
}

.toggle-checkbox:checked ~ .toggle-container {
	margin-top: 0;
	opacity: 1;
	transition-delay: 0s;
}

/* NORMAL MENU */

.menubar {
	font-family: "FuturaPTLight";
	font-size: 12px;
	line-height: 1.6em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
	font-style: normal;
	width: 100%;
}

.menubar > .normal-menu {
	display: flex;
	justify-content: flex-end;
}

.menubar > .normal-menu li {
	margin-right: 30px;
}

.menubar > .normal-menu li:last-child {
	margin: 0;
}

.normal-menu li a {
	display: inline-block;
	position: relative;
	padding: 3px 0;
	line-height: 24px;
	color: #999;
}

.normal-menu a:before {
	display: block;
	position: absolute;
	content: "";
	height: 1px;
	width: 0;
	background: #000;
	transition: all 0.2s ease-in-out;
	left: 50%;
	bottom: 0;
}

.normal-menu a:after {
	display: block;
	position: absolute;
	content: "";
	height: 1px;
	width: 0;
	background-color: #000;
	transition: all 0.2s ease-in-out;
	left: 50%;
	bottom: 0;
}

.menu-item:hover {
	color: #111;
}

.menu-item:hover:before {
	width: 50%;
	left: 0;
}

.menu-item:hover:after {
	width: 50%;
}

.active-menubar {
	color: #111 !important;
}

.btn {
	background-color: transparent;
	border: 2px solid #fff;
	display: inline-block;
	outline: none !important;
	cursor: pointer;
	color: #fff;
	font-family: "FuturaPTMedium";
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-style: normal;
	padding: 15px 20px 15px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.btn:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

/* BURGER */

hr {
	border: 0px;
	border-bottom: 1px solid #ddd;
	margin: 0;
}

section {
	padding: 50px 0 30px 0;
	opacity: 1;
	position: relative;
}

.small-description {
	margin: 0 20px 40px;
	font-family: "FuturaPTLight";
	font-size: 17px;
	line-height: 1.3em;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: 400;
	font-style: normal;
	color: #fff;
}

/* ABOUT PAGE */

article {
	margin-left: 30px;
	width: 50%;
}

article > p {
	font-family: "FuturaPTLight";
	font-size: 14px;
	line-height: 1.6em;
	text-transform: none;
	text-decoration: none;
	font-weight: 400;
	font-style: normal;
	margin: 0 0 1em;
}
article > p > a{
	color: #111 !important;
}

.about-text {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	text-align: justify;
}

.about-text figure img {
	height: auto;
	width: 100%;
}

.about-image-title {
	font-family: "FuturaPTLight";
	font-size: 14px;
	line-height: 1.6em;
	text-transform: none;
	text-decoration: none;
	font-weight: 400;
	font-style: normal;
}

/* LOADED PROJECTS */

.grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px auto;
}

.projects {
	flex: 1 1 280px;
	margin: 0 10px 30px;
}

.projects figure img {
	height: 280px;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
}

.projects figure figcaption {
	margin-top: 10px;
}

.item-hover {
	display: block;
}

.item-hover img {
	-webkit-transition: -webkit-opacity 0.3s;
	transition: opacity 0.3s ease-out;
	opacity: 1;
	filter: alpha(opacity=100);
}

.item-hover:hover img {
	-webkit-transition: -webkit-opacity 0.3s ease-out;
	opacity: 0.8;
	transition: opacity 0.3s ease-out;
	filter: alpha(opacity=80);
}

.projects figcaption > .image-title {
	font-family: "FuturaPTLight";
	font-size: 14px;
	line-height: 1.5em;
	text-decoration: none;
	font-weight: 400;
	font-style: normal;
	color: #707070;
}

.projects figcaption > .project-title {
	font-family: "FuturaPTLight";
	font-size: 14px;
	line-height: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 400;
	font-style: normal;
	color: #707070;
}

.project-item {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px auto;
}

.project-item > img {
	height: 280px;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
	margin: 0 5px 10px;
	flex: 1 1 280px;
}

.img-lg {
	flex-basis: 900px !important;
}

.img-md {
	flex-basis: 430px !important;
}

#project-data > section:first-child {
	padding-bottom: 0;
	padding-top: 0;
}

.project-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
	text-transform: uppercase !important;
	font-size: 11px;
	letter-spacing: 3px;
}

.project-nav {
	color: #999;
}

.description {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.description p {
	font-size: 14px;
	line-height: 1.6em;
	text-transform: none;
	text-decoration: none;
	font-weight: 400;
	margin: 0 0 30px;
	font-style: italic;
	color: #777;
}

/* CONTACT PAGE */

.contact-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	text-align: justify;
}

.contact-container figure img {
	height: auto;
	width: 100%;
}

#contact-form {
	margin-left: 30px;
	width: 50%;
	color: #111;
}

.form-group {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-bottom: 20px;
}

.control-label {
	font-family: "FuturaPTLight";
	font-size: 16px;
	line-height: 1.6em;
	text-transform: none;
	text-decoration: none;
	font-weight: 400;
	font-style: normal;
}

textarea {
	resize: none;
}

.form-control {
	padding: 10px;
}

.btn-submit {
	background-color: transparent;
	border: 2px solid #222;
	display: inline-block;
	outline: none !important;
	cursor: pointer;
	color: #fff;
	background-color: #222;
	font-family: "FuturaPTMedium";
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-style: normal;
	padding: 10px 30px 10px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.btn-submit:hover {
	color: #222;
	background-color: #fff;
	border-color: #222;
}

/* Footer */

.footer-page {
	margin-top: 50px;
}

.social {
	display: flex;
	justify-content: flex-end;
}

.social ul {
	letter-spacing: -.36em;
}

.social li {
	display: inline-block;
	margin: 0 5px;
	letter-spacing: normal;
}

.social:hover > li {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: -webkit-all 0.3s;
	transition: all 0.3s ease-out;
}

.social:hover > li:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: -webkit-all 0.3s;
	transition: all 0.3s ease-out;
}

/*-------- MEDIA --------*/

/*----- Responsive -----*/

@media screen and (max-width: 820px) {
	.about-text {
		flex-direction: column;
		align-items: stretch;
		text-align: justify;
	}
	article {
		margin-top: 30px;
		margin-left: 0;
		width: 100%;
	}
	.about-text figure img {
		height: auto;
	}
	.contact-container {
		flex-direction: column;
		align-items: stretch;
	}
	#contact-form {
		margin-left: 0;
		width: 100%;
		margin-top: 30px;
	}
}

@media screen and (max-width: 680px) {
	.body-page {
		background: #fff;
		max-width: 900px;
		margin: 0 auto;
		padding: 0 30px 30px;
	}
	header {
		height: auto;
		flex-direction: column-reverse;
		margin-bottom: 0;
		text-align: center;
	}
	.logo {
		margin: 30px 0;
	}
	.menubar > .normal-menu {
		display: none;
	}
	.menubar > .toggle-menu {
		display: flex;
		flex-direction: column-reverse;
	}
	.social {
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-height: 480px) {
	.body-index {
		padding-bottom: 40px;
	}
	.group {
		padding: 0;
	}
	#submain-header {
		margin-bottom: 0;
	}
	.small-description {
		margin-bottom: 30px;
	}
	.btn {
		padding: 10px 15px 10px;
		font-size: 13px;
	}
	.social li {
		font-size: 0.7em;
	}
}

@media screen and (max-height: 440px) {
	.body-index {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media screen and (orientation: portrait) {
	.bgimg {
		width: auto;
		height: 150%;
	}
}

/* Animations */

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}