@-webkit-keyframes fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }

body {
  -webkit-animation: fade-in 1s linear; /* Safari 4+ */
  -moz-animation: fade-in 1s linear; /* Fx 5+ */
  -o-animation: fade-in 1s linear; /* Opera 12+ */
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
}

@font-face 
{
	font-family: "FuturaPTMedium";
	src: url("../fonts/FuturaPTMedium.otf");
	src: url("../fonts/FuturaPTMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FuturaPTMedium.woff") format("woff"),
	url("../fonts/FuturaPTMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face 
{
	font-family: "FuturaPTLight";
	src: url("../fonts/FuturaPTLight.eot");
	src: url("../fonts/FuturaPTLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/FuturaPTLight.woff") format("woff"),
	url("../fonts/FuturaPTLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

html
{
    font-family: sans-serif;
}
a
{
    text-decoration: none;
    color: #000 !important;
}

body
{
    background: #c3beb4;
    background: url(../img/back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 40px 60px 60px 60px;
    border: 16px solid #fff;

    text-align: center;
}

h1
{
    font-family: "FuturaPTMedium";
    font-size: 30px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    height: 30px;
}
h2
{
    font-family: "FuturaPTMedium";
    font-size: 37px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    height: 30px;
    margin-bottom: 30px;
}
header
{
    display: inline-block;
}
nav a ul li
{
    font-family: "FuturaPTLight";
    font-size: 12px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    height: 30px; 
}

.wrap
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.small-description
{
    margin: 0 90px 40px 90px;

    font-family: "FuturaPTLight";
    font-size: 18px;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
.btn
{
    background-color:transparent;
	border:2px solid #fff;
	display:inline-block;
	outline: none !important; 
	cursor:pointer;
	color:#fff;

    font-family:"FuturaPTMedium";
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    padding: 15px 20px 15px 20px;

    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.btn:hover 
{
    color: #000;    
	background-color: #fff;
    border-color: #fff;
}
.btn:active 
{
	position:relative;
}
ul
{
      letter-spacing : -.36em;
}
ul li
{
    display: inline-block;
	margin: 0 5px;
    letter-spacing: normal;
}

.social:hover > li
{
    opacity: 0.5;
    filter:alpha(opacity=50);
    -webkit-transition: -webkit-all 0.1s;
    transition: all 0.1s ease-out;
}
.social:hover > li:hover
{
    opacity: 1;
    filter:alpha(opacity=100);
    -webkit-transition: -webkit-all 0.3s;
    transition: all 0.3s ease-out;
}