@font-face {
    font-family: "FuturaBookBT";
    src: url("../fonts/FuturaBookBT.otf");
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: "FuturaBookBT";
    letter-spacing: 2px;
}

input[type="radio"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
    color: #555555;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f2f2f2;
}

.wrapper {
    padding: 25px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #f2f2f2;
    overflow: hidden;
}

.upper-logo {
    z-index: 10;
}

.logo-img {
    height: 40px;
    margin-bottom: 20px;
}

.logo-wrapper {
    display: block;
    margin-top: 30vh;
}

.logo-center {
    margin: 0 auto;
    text-align: center;
}

.logo-center img {
    max-width: 500px;
}

.middle-logo {
    z-index: 10;
    margin-left: 50px;
}

.middle-logo img {
    max-width: 230px;
}

.bg-logo {
    opacity: 0.15;
    position: fixed;
    top: 25vh;
    left: 0;
    right: 0;
    text-align: center;
}

.bg-logo>img {
    height: 45vh;
}

/* CAROUSEL */

.carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carusel-wrapper {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
}

.carusel-wrapper li {
    overflow: hidden;
}

.carusel-wrapper img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.carousel-announce {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    white-space: nowrap;
    padding-top: 70px;
}

.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.slider>input {
    display: none;
}

.slider>input+label {
    display: none;
    width: 30px;
    height: 7px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 5;
    position: relative;
    top: 300px;
    margin-right: 5px;
    transition: background 0.8s ease-in-out 0s;
}

.slider>input+label:hover {
    background: rgba(0, 0, 0, 0.75);
}

.slider>input:checked+label {
    background: rgba(0, 0, 0, 0.75);
}

.slider>div {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}

.slider>div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-in-out 0.1s, visibility 0.1s ease-in-out 0.9s;
}

.slider-img-container {
    padding: 5% 30%;
}

.slider-img-container>img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.slider>input:checked+label+div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-in-out 0.1s, visibility 0.1s ease-in-out 0s;
}

.slider>input+label+div+label {
    display: none;
}

.slider>input:checked+label+div+label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

/* !CAROUSEL */

.btn-order {
    background-color: transparent;
    border: 2px solid #222222;
    border-radius: 50px;
    display: inline-block;
    outline: none !important;
    cursor: pointer;
    color: #fff;
    background-color: #222222;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 30px 10px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.btn-order:hover {
    background-color: #333333;
    border-color: #333333;
}

.form-button {
    margin-top: 30px;
}

.arrow-down-anim {
    position: relative;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite both;
}

#order-form {
    font-family: "FuturaBookBTRegular";
    padding: 0 25px;
}

.order-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 15px;
}

.form-group {
    margin: 15px auto;
    width: 600px;
    text-align: center;
}

.form-group hr {
    margin: 0.3em 0;
}

.form-group>.control-label:first-child {
    margin-right: 20px;
}

.control-label.mini-control {
    font-size: 10px;
}

.control-label {
    font-size: 14px;
    color: #333333;
}

.form-control {
    background-color: #ffffff00;
    width: 100%;
    border: 0px;
    outline: none;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}

.lg-margin {
    margin-top: 15vh !important;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (max-width:1024px) {
    .slider-img-container {
        padding: 10%;
    }
    .form-group {
        width: 80%;
    }
}

@media screen and (max-width:1024px) and (min-width: 768px) {
    .order-header {
        font-size: 26px;
    }
    .form-group {
        margin-top: 40px;
    }
    .form-control {
        font-size: 22px;
    }
    .btn-order {
        font-size: 26px;
    }
}

@media screen and (max-width:768px) {
    .middle-logo img {
        max-width: 230px;
    }
    .logo-center img {
        max-width: 85%;
    }
    .left-side {
        right: 0;
        bottom: 60%;
    }
    .right-side {
        left: 0;
        top: 40%;
        padding: 20px 25px;
    }
    .item-view-more {
        margin-top: 20px;
    }
    .item-view-more p {
        margin-top: 5px;
    }
}

@media screen and (max-width:580px) {
    .logo-wrapper {
        margin-top: 25vh;
    }
    .bg-logo>img {
        height: 35vh;
    }
    .carusel-wrapper {
        margin-top: 50px;
    }
    .slider>div {
        margin-top: 30px;
    }
    .order-header {
        font-size: 15px;
    }
}

@media screen and (max-width:425px) {
    .middle-logo {
        display: none;
    }
    .wrapper {
        padding: 15px;
    }
    .right-side {
        padding: 15px;
    }
    .btn-order {
        padding: 5px 20px 5px;
        font-size: 14px;
    }
    .carousel-announce {
        font-size: 1.5em;
    }
}

@media screen and (max-width:425px) and (max-height:850px) {
    .carusel-wrapper {
        margin-top: 100px;
    }
    .carousel-announce {
        padding-top: 75px;
    }
    .slider-img-container {
        padding-top: 20%;
    }
    .lg-margin {
        margin-top: 25vh !important
    }
    .slider>div {
        margin-top: 20vh;
    }
}

@media all and (orientation: landscape) and (max-width: 768px) and (max-height: 425px) {
    body {
        overflow: scroll;
        overflow-x: hidden;
    }
    .wrapper {
        position: absolute;
    }
    .left-side {
        right: 0;
        bottom: Calc(100% - 95px);
    }
    .right-side {
        position: relative;
        top: 0;
        padding: 35px 0;
    }
}

@media all and (orientation: landscape) and (max-height:680px) {
    .logo-wrapper {
        margin-top: 20vh;
    }
    .bg-logo {
        top: 20vh;
    }
}